/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FFD700;}


    button{
        border-radius: 10px;
        background-color: darkturquoise;
        text-align: center;
        max-width: 100px;
        cursor: pointer;
        font-weight: bolder;
    }

    button:hover{
        border: 1px green;
        cursor: pointer;
    }

    button:disabled{
        border: 1px red;
        opacity: 0.2;
        cursor: not-allowed;
    }

    th, td, p, h2, h1, span{
        font-family: 'lato';
    }
html, body { height: 100%; }
body { margin: 0; font-family: arial;  border: 5px solid;}

.mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border: 5px solid;
    white-space: nowrap;
    padding: 42px;
}

@font-face {
    font-family: 'lato';
    src: url(assets/bme.ttf) format("opentype");
  }