<section fxLayout="row" fxLayoutAlign="space-around center" class="products">
    <mat-form-field>
        <mat-label>Rechercher...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>


    <p class="panier" (click)="navigateToPanier()">
        <button mat-raised-button matBadge="{{articleNumber}}" matBadgePosition="before" matBadgeColor="accent">
            <img src="assets/panier.png" class="panierBadge">
        </button>
    </p>

   <!-- <button>
    <a HREF="mailto:flogui.boutique@orange.fr ?subject=Bijoux_sur_mesure
    &body=Bonjour je souhaiterais">
     <div> Votre produit sur-mesure</div> 
     <div> Cliquer ici</div> 
     <div><mat-icon>touch_app</mat-icon></div>
     </a>
   </button> -->


</section>




<table mat-table pageScroll [dataSource]="dataSource" matSort >

      <!-- acheter Column -->
      <ng-container matColumnDef="view" pageScroll>
        <th mat-header-cell *matHeaderCellDef>

        </th>
        <td mat-cell *matCellDef="let element" class="achat">
            <button (click)="addPanier(element)">
                <a [routerLink]="['/productView/', element.id, element]">VOIR</a>
            </button>
        </td>
    </ng-container>


    <!-- acheter Column -->
    <ng-container matColumnDef="acheter" pageScroll>
        <th mat-header-cell *matHeaderCellDef>

        </th>
        <td mat-cell *matCellDef="let element" class="achat">
            <button (click)="addPanier(element)">AJOUTER AU PANIER</button>
        </td>
    </ng-container>



    <!-- image Column -->
    <ng-container matColumnDef="image" pageScroll>
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let element" class="image">
            <img src="{{element.image}}">
        </td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Catégorie
        </th>
        <td mat-cell *matCellDef="let element" class="category">
            {{element.type}}
        </td>
    </ng-container>

    <!-- prix Column -->
    <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Prix
        </th>
        <td mat-cell *matCellDef="let element" class="price">
            {{element.prix}} €
        </td>
    </ng-container>

    <!-- prix Matériaux -->
    <ng-container matColumnDef="materiaux">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Materiaux
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.materiaux}},
            {{element.materiauxdeux}},
            {{element.materiauxtrois}} </td>
    </ng-container>

    <!-- prix information -->
    <ng-container matColumnDef="information">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Informations
        </th>
        <td mat-cell *matCellDef="let element" class="informations">
            {{element.information}},
        </td>
    </ng-container>

    <!-- prix stock -->
    <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Stock
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.stock}},
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>