.mat-toolbar.mat-primary {
    background-color:  #F9FBB7;
    min-height: 120px !important;
}

mat-sidenav-content{
  background-color: lemonchiffon;
  }

  mat-sidenav-container{
    background-color: lemonchiffon !important;
  }

 p{
    margin-top: 54px !important;
    padding: 10px;
    font-weight: bolder;
}

  .title{
      font-weight: bolder;
      color: yellow;
      font-size: 20px;
      padding: 10px;
  }

  .imgFleur{
    position: absolute;
    height: 164px;
    padding: 8px;
    border-radius: 56px;
    margin-left: 265px;
    margin-top: 38px;
 
  }

  .bordureTitle{
  letter-spacing: 0.1em;
  font-family: 'Book Antiqua', arial;
  }

  p{
    font-family: "Book Antiqua", arial;
    font-size: 38px;
    font-weight: 900;
    color: black;
    letter-spacing: 0.1em;}

  span{
      padding: 30px;
      margin-top: 10px;
      font-weight: bolder;
      letter-spacing: 0.1em;
  }

  span:hover{
      color: red;
      cursor: pointer;
  }

  span:active{
      text-decoration: underline blue;
  }

  @media screen and (max-width: 740px) {
    p{
      font-size: 21px;
    }
  }